# python
**/__pycache__/
*.pyc
.pytest_cache/
**/.pytest_cache/
backend/venv/
backend/downloads/
backend/static_frontend/

# node
frontend/node_modules/
frontend/dist/

# secrets
.env
**/.env

# os
.DS_Store
Thumbs.db
